@font-face {
  font-family: 'Remington';
  src:  url('./Remington.ttf.woff') format('woff'),
  url('./Remington.ttf.svg#Remington') format('svg'),
  url('./Remington.ttf.eot'),
  url('./Remington.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
